# full list of checks https://clang.llvm.org/extra/clang-tidy/checks/list.html
# selecting checks https://clang.llvm.org/extra/clang-tidy/index.html#id2
Checks: 'bugprone-*, clang-analyzer-*, concurrency-*, cppcoreguidelines-*, 
         google-*, misc-*, modernize-* performance-*, portability-*, 
         readability-*'
         # -cppcoreguidelines-pro-type-vararg'
# can add -cppcoreguidelines-pro-type-vararg if you love printf (mind the comma and single quote)

# HeaderFilterRegex INCLUDES files, not excludes
HeaderFilterRegex: '\/src\/*.h'
